@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.electron-titlebar {
  display: none;
  -webkit-app-region: drag;
}

.electron-titlebar-content {
  -webkit-app-region: no-drag;
}

html.is-electron .electron-titlebar {
  display: flex;
}